    .logout {
        width: 3rem;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
     .main_BG {
        height: 100vh;
        width: 100vw;

        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
        position: relative;
    }
.system_btn img{
width: 7vw;
margin-right: 1rem;
}
.user_function_div{
align-items: center;
justify-content: center;
    font-size: 1.25rem;
    letter-spacing: 3px;
    position: relative;
    display: flex;
}
.user_function_div span{
    position: absolute;
}

.user_function_div_d{
font-size: 1.25rem;
    letter-spacing: 3px; margin-bottom: -15px
}
.user_function_left{
    display: flex;
    align-items: center;

    font-size: 1.25rem;
    position: relative;
height: 3.5rem;
}
.user_function_left_d{
margin-top: 4px
}